/**** BANNER ****/
#contact-header.header-container {
  height: 370px;

  flex-shrink: 0;
  opacity: 0.9;
  background: linear-gradient(264deg, #872175 -3.44%, #d41c68 84.89%),
    url("/background.png");
  background-size: cover;
  background-blend-mode: overlay;

  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "star-left title star-right";
}

#contact-header .star-left {
  grid-area: star-left;
  padding-bottom: 36px;
  justify-self: center;
  align-self: end;
}

#contact-header .star-right {
  grid-area: star-right;
  padding-top: 92px;
  justify-self: center;
  align-self: start;
}

#contact-header.header-container .title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-header.header-container h1 {
  color: #fff;
  text-align: center;
  font-family: Rustico;
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: 183.5%;
}
/****************/
#contact-main {
  margin: 63px 150px 77px 155px;
}
#contact-main h1 {
  color: #000;
  font-family: Rustico;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 45.6px */
}

#contact-content {
  display: flex;
}

.contact-form {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.contact-label {
  margin-top: 22px;
}

.contact-textfield {
  width: 746px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #b5b5b5;
}

textarea.contact-textfield {
  height: 125px;
}

.send-message {
  width: 747px;
  height: 45px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #0078b0;
  margin-top: 48px;
  color: #fff;
  font-family: Hind;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

.contact-info {
  flex-grow: 1;
}

.box-contact {
  width: 263px;
  height: 205px;
  flex-shrink: 0;
}
.box-text {
  color: #000;
  text-align: center;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box-url {
  color: #000;
  text-align: center;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box-url.email a {
  color: #000;
}

.box-url.instagram a {
  color: #000;
  text-decoration: none;
}
/* @media (max-width: 835px) {
  #contact-header.header-container h1 {
    line-height: 100%;
  }
}
 */
@media (max-width: 600px) {
  /**** BANNER ****/
  #contact-header.header-container {
    height: 230px;
  }

  #contact-header .star-left svg,
  #contact-header .star-right svg {
    width: 31px;
    height: 54px;
  }

  #contact-header.header-container h1 {
    font-size: 36px;
    font-style: normal;
  }
  #contact-header.header-container .title svg {
    width: 150px;
  }
  /****************/
}
