.mision-container {
  display: flex;
  justify-content: center;
  margin-top: 107px;
}

@media (max-width: 1200px) {
  .mision-container {
    margin-left: 120px;
  }
}

@media (max-width: 1024px) {
  .mision-container {
    margin-top: 40px;
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .mision-container {
    margin-top: -70px;
    margin-left: 30px;
    padding: 0;
  }
}
@media (max-width: 560px) {
}
@media (max-width: 450px) {
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background: url("/Imagen11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.mision {
  margin-top: 8%;
  margin-left: 30%;
  margin-right: 60%;
}

.proposito {
  margin-top: 1%;
  margin-left: 70%;
  margin-right: 12%;
}

.vision {
  margin-right: 45%;
  margin-top: 6%;
  margin-left: 43%;
}

.mision h2 {
  text-align: end;
  font-family: Rustico;
  color: #009999;
  font-size: 38px;
  font-weight: 100;
}

.proposito h2 {
  font-family: Rustico;
  color: #d41c68;
  font-size: 38px;
  font-weight: 100;
}

.vision h2 {
  font-family: Rustico;
  color: #0078b0;
  font-size: 38px;
  font-weight: 100;
}

.mision p {
  font-size: 16px;
  font-family: "Hind";
}

.proposito p {
  font-size: 16px;
  padding-right: 18%;
  line-height: 25.62px;
  font-family: "Hind";
}

.vision p {
  font-size: 16px;
  font-family: "Hind";
}
 */
