.organization h1 {
  color: #000;
  text-align: center;
  font-family: Rustico;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.organization .description {
  color: #000;
  text-align: center;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
  margin-top: 20px;
  margin-bottom: 78px;
}

.organization .services {
  display: flex;
  justify-content: space-between;
  /* margin-left: 230px; */
  margin-left: 10%;
  /* margin-right: 230px; */
  margin-right: 10%;
  /* margin-bottom: 145px; */
}

.organization-service {
  width: 114px;
  height: 114px;
}

.organization-service img {
  cursor: pointer;
}

.organization-service p {
  color: #000;
  text-align: center;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 17.6px */
}

.vl {
  border-left: 1px solid black;
  height: 97px;
  align-items: center;
  margin-left: 57px;
  margin-top: 22px;
}

.vl.two-lines {
  height: 90px;
  margin-top: 12px;
}

.services-line {
  /* margin-left: 230px;
  margin-right: 230px; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 145px;
}

.org-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.org-desc.hide {
  display: none;
}

.org-desc .description {
  width: 342px;
}

@media (max-width: 975px) {
  .organization h1 {
    font-size: 12px;
    margin-top: 18px;
    margin-bottom: 6.32px;
  }

  .organization .description {
    font-size: 5.053px;
    margin-bottom: 24px;
  }
  .organization-service,
  .organization-service img {
    width: 36px;
    height: 36px;
  }

  .organization-service p {
    text-align: center;
    font-family: Hind;
    font-size: 5.053px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 5.558px */
  }

  .services-line {
    margin-top: 48px;
  }
  .vl {
    height: 24px;
    align-items: center;
    margin-left: 18px;
    margin-top: 10px;
  }

  .vl.two-lines {
    height: 20px;
    margin-top: 12px;
  }

  .org-desc .description {
    width: 108px;
  }
}
