.organization h1 {
  color: #000;
  text-align: center;
  font-family: Rustico;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.organization .description {
  color: #000;
  text-align: center;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
  margin-top: 20px;
  margin-bottom: 78px;
}

.organization .services {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.services .organization-service {
  width: 114px;
  height: 114px;
}

.organization-service img {
  cursor: pointer;
}
.organization-service .title {
  font-weight: 700;
  line-height: 110%; /* 17.6px */
}

.organization-service p {
  color: #000;
  text-align: center;
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
}

.vl {
  border-left: 1px solid black;
  height: 97px;
  align-items: center;
  margin-left: 57px;
  margin-top: 22px;
}

.vl.two-lines {
  height: 90px;
  margin-top: 12px;
}

.services-line {
  /* margin-left: 230px;
  margin-right: 230px; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 145px;
}

.org-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.org-desc.hide {
  display: none;
}

.org-desc .description {
  width: 342px;
}

@media (max-width: 1024px) {
  .organization .description {
    margin-bottom: 50px;
  }

  .css-1l7c0cy div {
    display: flex;
  }

  .css-1f8sh1y {
    min-height: 375px;
  }

  .org-carousel .organization-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  .org .title {
    margin-top: 1em;
  }
}

@media (max-width: 768px) {
  .organization .description.proyects {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 560px) {
  .org-carousel .organization-service {
    max-width: 250px;
    margin: 0 15px 0;
    justify-content: start;
  }

  .organization-service .description {
    margin-bottom: 0;
  }
  /*487*/
  .css-1f8sh1y {
    min-height: 350px;
  }
}

@media (max-width: 450px) {
  .css-1l7c0cy {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
